body{
   
    background-image:url("https://media.giphy.com/media/r6JbiInxW1la8/giphy.gif?response_id=59245d93a541849f8d2ba1be");

}
h1{

font-family:fantasy;

color:white;

font-size: 60px;

text-align: center;

}